{% extends "base.html" %}

{% block content %}
	<div class="content">
		<div class="content-heading">
			<div class="content-subject">
				<a href="/blog/{{blog_post.key().id()}}">{{blog_post.subject}}</a>
			</div>
			<div class="content-body">
				{{blog_post.content.replace('\n', '<br>') | safe}}
			</div>
  			<div class="content-footer">
  				<br>
	  			<div class="content-creation ">
	  			Posted by {{blog_post.posting_user}} at {{blog_post.created_time.strftime("%X, %d %b %Y")}}
	  			</div>
	  		</div>
		</div>
	</div>
	<div>
	<h2 id="comment">Add Comment</h2>
	</div>
	<div class="error">
		{{error}}
	</div>
	<div>
	<form method="post">
		<label>
			<div>Title</div>
			<input type="text" name="subject" value="{{subject}}">
		</label>
		<label>
			<div>Body</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<br>
		<label class="wide_span">
			<input type="submit" name="submit" value="Add Comment">
			<span></span>
			<span></span>
			<a href="/blog/{{post_id}}">cancel</a>
		</label>
	</form>
	</div>
{% endblock %}
