{% extends "base.html" %}

{% block content %}
	<div class="content">
		<div class="content-heading">
			<div class="content-subject">
				<a href="/blog/{{blog_post.key().id()}}">{{blog_post.subject}}</a>
			</div>
			<div class="content-body">
				{{blog_post.content.replace('\n', '<br>') | safe}}
			</div>
  			<div class="content-footer">
  				Likes: {{likes_count}}
  				<br>
	  			<a href="/blog/delete-{{blog_post.key().id()}}#footer">delete</a>
				<span></span>
				<a href="/blog/comment-{{blog_post.key().id()}}#comment">comment</a>
				<span></span>
				<a href="/blog/like-{{blog_post.key().id()}}#footer">like</a>
				<span></span>
				<a href="/blog/edit-{{blog_post.key().id()}}#footer">edit</a>
	  			<div class="content-creation ">
	  			Posted by {{blog_post.posting_user}} at {{blog_post.created_time.strftime("%X, %d %b %Y")}}
	  			</div>
	  		</div>
		</div>
	</div>
	{% if like_error==1 %}
		<div id="footer" class="error">you have already liked this post</div>
	{% elif like_error==2 %}
		<div id="footer" class="error">sorry you can't like your own post</div>
	{% elif delete_error==1 %}
		<div id="footer" class="error">you can't delete posts of other users</div>
	{% elif delete_error==2 %}
		<div id="footer" class="error">you can't delete comments of other users</div>
	{% elif edit_error==1 %}
		<div id="footer" class="error">You can only edit your own posts</div>
	{% elif edit_error==2 %}
		<div id="footer" class="error">You can only edit your own comments</div>
	{% endif %}
	{% if comments.get().subject %}
	<div>
			<h2>Comments</h2>
	</div>
		{% for comment in comments %}
	<div class="content">
		<div class="content-heading">
			<div class="content-subject">
				<a href="/blog/{{blog_post.key().id()}}">{{comment.subject}}</a>
			</div>
			<div class="content-body">
				{{comment.content.replace('\n', '<br>') | safe}}
			</div>
  			<div class="content-footer">
  				<br>
	  			<a href="/blog/delete-comment-{{comment.key().id()}}">delete comment</a>
				<span></span>
				<a href="/blog/edit-comment-{{comment.key().id()}}">edit comment</a>
	  			<div class="content-creation ">
	  			Added by {{comment.commenting_user}} at {{comment.created_time.strftime("%X, %d %b %Y")}}
	  			</div>
	  		</div>
		</div>
	</div>
		{% endfor %}
	{% endif %}

{% endblock %}