{% extends "base.html" %}

{% block content %}
		{% for content in contents %}
			<div class="content">
				<div class="content-heading">
					<div class="content-subject">
						<a href="/blog/{{content.key().id()}}">{{content.subject}}</a>
					</div>
					<div class="content-body">
						{{content.content.replace('\n', '<br>') | safe}}
					</div>
		  			<div class="content-footer">
			  			<a href="/blog/delete-{{content.key().id()}}#footer">delete</a>
						<span></span>
						<a href="/blog/comment-{{content.key().id()}}#comment">comment</a>
						<span></span>
						<a href="/blog/like-{{content.key().id()}}#footer">like</a>
						<span></span>
						<a href="/blog/edit-{{content.key().id()}}#footer">edit</a>
			  			<div class="content-creation ">
			  			Posted by {{content.posting_user}} at {{content.created_time.strftime("%X, %d %b %Y")}}
			  			</div>
			  		</div>
				</div>
			</div>
			<br><br>
		{% endfor %}
{% endblock %}