{% extends "base.html" %}

{% block content %}

	<h2>Edit Post</h2>
	<div class="error">
		{{error}}
	</div>
	<form method="post">
		<label>
			<div>subject</div>
			<input type="text" name="subject" value="{{subject}}">
		</label>
		<label>
			<div>blog</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<br>
		<label class="wide_span">
			<input type="submit" name="submit" value="Edit Post">
			<span></span>
			<span></span>
			<a href="/blog/{{post_id}}">cancel</a>
		</label>
	</form>
{% endblock %}
